gunicorndjangopsycopg2-binarydjango-cors-headersdjangorestframeworkpython-dotenvchannelsdaphnedjangorestframework-simplejwtcoveragedjango-prometheus #para hacer mediciones boto3Pillowpandas