.global-searcher {
    position: relative;
    display: flex;
    flex-direction: column;

    &>.searcher {
        display: flex;
        align-items: center;
        border: 1.4px solid var(--color-5);
        border-radius: 3px;
        gap: 10px;
        height: 25px;
        min-width: 300px;
        flex-grow: 1;
        padding: 5px;
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.884);

        &.type-2 {
            background: linear-gradient(90deg, #323232 0%, #000000 100%);

            &>.global-searcher-results {
                &>section {

                    &:nth-child(1) {
                        color: #ffffff;
                    }

                    &:nth-child(2) {
                        &>a {
                            color: rgb(255, 255, 255);
                        }
                    }
                }

                &.type-2 {
                    background-color: #000000;
                }
            }

        }

        &>svg {
            opacity: 0.6;
        }

        &>input {
            border: none;
            outline: transparent;
            background-color: transparent;
            width: 100%;
            height: 100%;
            color: var(--m-c3);
            font-weight: 600;

            &::placeholder {
                color: var(--m-c3);
                font-weight: 600;
            }
        }

    }

    &>.global-searcher-results {
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: column;
        background-color: #D3D3D3;

        width: 100%;
        max-height: 400px;
        animation: show-in var(--t-t);
        animation-fill-mode: both;

        &>section {
            display: flex;

            &:nth-child(1) {
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.384);

                &>.btn-filter-wrapper {
                    flex-grow: 1;

                    &>button {
                        flex-grow: 1;
                        border-radius: 0px;

                    }
                }
            }

            &:nth-child(2) {
                animation: show-in var(--t-t);
                animation-fill-mode: both;
                flex-direction: column;
                overflow-y: scroll;
                scrollbar-width: thin;
                /* Para navegadores Firefox */
                scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

                &>a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    box-sizing: border-box;
                    gap: 10px;
                    height: 70px;
                    border-bottom: 0.1px solid rgba(116, 116, 116, 0.705);
                    cursor: pointer;
                    transition: var(--t-t);
                    color: rgb(37, 31, 22);
                    text-decoration: none;

                    &>img {
                        width: 70px;
                        min-width: 70px;
                        height: 40px;
                        border-radius: 4px;
                    }

                    &:hover {
                        background-color: rgba(177, 177, 177, 0.95);
                    }

                    &>p {
                        font-size: 0.9rem;

                        &:nth-child(2) {
                            width: 90%;
                            text-align: left;
                            font-weight: 500;
                        }

                        &:nth-child(3) {
                            font-weight: 900;
                        }

                    }


                }
            }
        }




    }


    & .btn-clean-searcher {
        border: transparent;
        font-weight: 900;
        background-color: transparent;
        cursor: pointer;
        width: 25px;

        &>* {
            animation: show-in var(--t-t);
            animation-fill-mode: both;
            color: var(--m-c3);
        }
    }


}

@media screen and (max-width:1480px) {
    .global-searcher {

        &>.searcher {
            border-radius: 2px !important;
            padding: 5px;
        }

    }

}